
*.vsidx
*.lock
.vs/DotAAllstarsHelper/v17/.suo
*.bin
*.ipch
*.db
*.log
*.obj
*.tlog
*.recipe
*.json
*.ipdb
*.iobj
*.command
*.ifc
*.pdb
*.lastcodeanalysissucceeded
*.db-shm
.vs/War3DreamUI/v17/.suo
*.db-wal
*.db-wal
*.opendb
